.about{
  display:flex;
  justify-content: center;

}
.about-container{
  width: 75%;
  display:flex;
}
.authors{
  color: var(--font-color3);
  font-size:2rem;
  text-align:center;
  padding:4rem;
}
.img-container{
  width:30rem;
  margin-top: 10rem;
}
.authors-img{

  border-radius:50%;
  border:8px solid var(--font-color2);

}


@media (max-width: 1000px) {
  .about-container{
    display:grid;
  }

}