.gallery {
  color: var(--font-color3);
  text-align: center;
}
.main-img-container{
  display:flex;
  justify-content: center;

}
.main-img{
  border-radius:1rem;
  max-width:95%;
  max-height: 80vh;
  width: auto;
  height: auto;

}
.img-nav-container {
  display: flex;
  justify-content: center;
}
.img-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.thumb {
  width: 100px;
  height: auto;
  margin: 0.25rem;
  border-radius: 1rem;
}
.page {
  transition: all 500ms;
}
.page:hover {
  box-shadow: 0px 0px 25px 25px rgba(0, 119, 255, 0.2);
  background-color: rgba(0, 119, 255, 0.2);
  border-radius: 1rem;
  cursor: pointer;
  margin: 0;
  transition: all 500ms;
}
.select-box{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: .5rem;
}
.page-direction {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  font-size: 4rem;
}
.page-select:hover{
  cursor:pointer
}

.pages-outerbox{
  display: flex;
  justify-content: center;
  
}
.pages-grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  justify-items: center;
  
}
.thumb-select{
  font-size:4rem;
  color: var(--font-color2);
  cursor: pointer;
}

.thumb-num{
  padding:.5rem;
  font-size:2rem;
  color: var(--font-color2);
}
.mb-3{
  margin-bottom:3rem;
}

@media (max-width: 1000px) {
  .pages-grid{
    display: none;
  }
  .img-grid{display: none;}
}