.home {
  margin-top: 6rem;
}
.banner-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.line{
padding-top: 6rem;
}
.title-main {
  font-size:8rem;
  color: var(--font-color3);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:  #bad424;
  text-shadow: 4px 4px #000b6b;
  box-shadow: 0px 0px 40px 50px rgba(187, 255, 0, 0.18);
  background-color: rgba(187, 255, 0, 0.18);
  border-radius: 50%;
  display:inline-block;
  margin:2rem;
}
.banner-decor {
  margin: auto;
  width: 75%;
}

.border {
  display: flex;
  justify-content: center;
}
.covers {
  display: flex;
  justify-content: center;
}
.cover {
  margin: 3rem;
  height: 35rem;
  box-shadow: 0px 0px 30px 30px rgba(187, 255, 0, 0.15);
  background-color: rgba(187, 255, 0, 0.15);
  border-radius: 1rem;
}
