.menu{

  display: flex;
  justify-content: center;
}
.menu-bar{
  background-color: black;
  width: 100%;
  position: fixed;
}
.list{
  display: flex;
  justify-content: center;
}
.list-item{
  list-style: none;
  cursor: pointer;

  margin: .5rem;
  position: relative;
}
.list-item:hover{
  list-style: none;
  cursor: pointer;
  margin: .5rem;
  position: relative;
}
.img-btn{
  height: 60px;
  transition: all 500ms;
  z-index:10;
}
.img-btn:hover{
  height: 65px;
  transition: all 500ms;
  box-shadow: 0px 0px 35px 35px rgba(187, 255, 0, 0.2);
  background-color: rgba(187, 255, 0, 0.2);
  border-radius:1.25rem
}

.list-item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:3rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(37, 37, 37);
  margin-top:.2rem;
}